/dist
/bin
/build/full/msvc/*.txt
/build/full/intel/*.txt
/build/full/gcc-multilib/*.txt
/build/full/gcc/*.txt
/build/full/clang-mingw/*.txt
/build/full/clang-llvm/*.txt
/build/boost/*.txt
/build/anttweakbar/*.txt
/build/full/*.txt
/deps/anttweakbar/anttweakbar/obj
/build/udis86/*.txt
/build/vs/Release
/build/vs/Debug
/build/vs/anttweakbar/Release
/build/vs/anttweakbar/Debug
/build/vs/asmjit/Debug
/build/vs/asmjit/Release
/build/vs/cerberus/Debug
/build/vs/cerberus/Release
/build/vs/cxexample/Debug
/build/vs/cxexample/Release
/build/vs/dump/Release
/build/vs/dump/Debug
/build/vs/esomod/Debug
/build/vs/esomod/Release
/build/vs/gwen/Debug
/build/vs/gwen/Release
/build/vs/hadesmem/Debug
/build/vs/hadesmem/Release
/build/vs/injecttest/Debug
/build/vs/injecttest/Release
/build/vs/tclap/Debug
/build/vs/tclap/Release
/build/vs/pugixml/Debug
/build/vs/pugixml/Release
/build/vs/injecttestdep/Release
/build/vs/injecttestdep/Debug
/build/vs/udis86/Debug
/build/vs/udis86/Release
/build/vs/inject/Debug
/build/vs/inject/Release
/build/vs/hadesmem.opensdf
/build/vs/hadesmem.sdf
/build/vs/hadesmem.v12.suo
/build/vs/pugixml/pugixml.vcxproj.user
/build/vs/tclap/tclap.vcxproj.user
/build/vs/udis86/udis86.vcxproj.user
/build/vs/injecttestdep/injecttestdep.vcxproj.user
/build/vs/injecttest/injecttest.vcxproj.user
/build/vs/inject/inject.vcxproj.user
/build/vs/gwen/gwen.vcxproj.user
/build/vs/hadesmem/hadesmem.vcxproj.user
/build/vs/cxexample/cxexample.vcxproj.user
/build/vs/esomod/esomod.vcxproj.user
/build/vs/asmjit/asmjit.vcxproj.user
/build/vs/dump/dump.vcxproj.user
/build/vs/cerberus/cerberus.vcxproj.user
/build/vs/anttweakbar/anttweakbar.vcxproj.user
/build/vs/postbuild/postbuild.vcxproj.user
/build/vs/postbuild/Debug
/build/vs/postbuild/Release
