/dist
/bin
/build/full/msvc/*.txt
/build/full/intel/*.txt
/build/full/gcc-multilib/*.txt
/build/full/gcc/*.txt
/build/full/clang-mingw/*.txt
/build/full/clang-llvm/*.txt
/build/boost/*.txt
/build/anttweakbar/*.txt
/build/full/*.txt
/deps/anttweakbar/anttweakbar/obj
/build/udis86/*.txt
/build/vs/Release
/build/vs/Debug
/build/vs/anttweakbar/Release
/build/vs/anttweakbar/Debug
/build/vs/asmjit/Debug
/build/vs/asmjit/Release
/build/vs/cerberus/Debug
/build/vs/cerberus/Release
/build/vs/cxexample/Debug
/build/vs/cxexample/Release
/build/vs/dump/Release
/build/vs/dump/Debug
/build/vs/esomod/Debug
/build/vs/esomod/Release
/build/vs/gwen/Debug
/build/vs/gwen/Release
/build/vs/hadesmem/Debug
/build/vs/hadesmem/Release
/build/vs/injecttest/Debug
/build/vs/injecttest/Release
/build/vs/tclap/Debug
/build/vs/tclap/Release
/build/vs/pugixml/Debug
/build/vs/pugixml/Release
/build/vs/injecttestdep/Release
/build/vs/injecttestdep/Debug
/build/vs/udis86/Debug
/build/vs/udis86/Release
/build/vs/inject/Debug
/build/vs/inject/Release
/build/vs/hadesmem.opensdf
/build/vs/hadesmem.sdf
/build/vs/hadesmem.v12.suo
/build/vs/pugixml/pugixml.vcxproj.user
/build/vs/tclap/tclap.vcxproj.user
/build/vs/udis86/udis86.vcxproj.user
/build/vs/injecttestdep/injecttestdep.vcxproj.user
/build/vs/injecttest/injecttest.vcxproj.user
/build/vs/inject/inject.vcxproj.user
/build/vs/gwen/gwen.vcxproj.user
/build/vs/hadesmem/hadesmem.vcxproj.user
/build/vs/cxexample/cxexample.vcxproj.user
/build/vs/esomod/esomod.vcxproj.user
/build/vs/asmjit/asmjit.vcxproj.user
/build/vs/dump/dump.vcxproj.user
/build/vs/cerberus/cerberus.vcxproj.user
/build/vs/anttweakbar/anttweakbar.vcxproj.user
/build/vs/postbuild/postbuild.vcxproj.user
/build/vs/postbuild/Debug
/build/vs/postbuild/Release
/build/vs/alloc/alloc.vcxproj.user
/build/vs/alloc/Debug
/build/vs/alloc/Release
/build/vs/call/call.vcxproj.user
/build/vs/call/Debug
/build/vs/call/Release
/build/vs/dos_header/Release
/build/vs/dos_header/dos_header.vcxproj.user
/build/vs/dos_header/Debug
/build/vs/export_dir/Release
/build/vs/export_dir/export_dir.vcxproj.user
/build/vs/export_dir/Debug
/build/vs/export_list/export_list.vcxproj.user
/build/vs/export_list/Debug
/build/vs/export_list/Release
/build/vs/find_pattern/find_pattern.vcxproj.user
/build/vs/find_pattern/Debug
/build/vs/find_pattern/Release
/build/vs/import_dir_list/import_dir_list.vcxproj.user
/build/vs/import_dir_list/Debug
/build/vs/import_dir_list/Release
/build/vs/injector/Debug
/build/vs/injector/Release
/build/vs/injector/injector.vcxproj.user
/build/vs/module/module.vcxproj.user
/build/vs/module/Debug
/build/vs/module/Release
/build/vs/module_list/module_list.vcxproj.user
/build/vs/module_list/Debug
/build/vs/module_list/Release
/build/vs/nt_headers/nt_headers.vcxproj.user
/build/vs/nt_headers/Debug
/build/vs/nt_headers/Release
/build/vs/patcher/patcher.vcxproj.user
/build/vs/patcher/Debug
/build/vs/patcher/Release
/build/vs/pe_file/pe_file.vcxproj.user
/build/vs/pe_file/Debug
/build/vs/pe_file/Release
/build/vs/process/process.vcxproj.user
/build/vs/process/Debug
/build/vs/process/Release
/build/vs/process_list/process_list.vcxproj.user
/build/vs/process_list/Debug
/build/vs/process_list/Release
/build/vs/protect/protect.vcxproj.user
/build/vs/protect/Debug
/build/vs/protect/Release
/build/vs/read/read.vcxproj.user
/build/vs/read/Debug
/build/vs/read/Release
/build/vs/region/region.vcxproj.user
/build/vs/region/Debug
/build/vs/region/Release
/build/vs/region_list/region_list.vcxproj.user
/build/vs/region_list/Debug
/build/vs/region_list/Release
/build/vs/section/section.vcxproj.user
/build/vs/section/Debug
/build/vs/section/Release
/build/vs/section_list/section_list.vcxproj.user
/build/vs/section_list/Debug
/build/vs/section_list/Release
/build/vs/thread/thread.vcxproj.user
/build/vs/thread/Debug
/build/vs/thread/Release
/build/vs/thread_list/thread_list.vcxproj.user
/build/vs/thread_list/Debug
/build/vs/thread_list/Release
/build/vs/tls_dir/tls_dir.vcxproj.user
/build/vs/tls_dir/Debug
/build/vs/tls_dir/Release
/build/vs/write/write.vcxproj.user
/build/vs/write/Debug
/build/vs/write/Release
/build/vs/driver/driver.vcxproj.user
/build/vs/driver/Debug
/build/vs/driver/Release
/build/vs/Win8 Release
/build/vs/Win8.1 Debug
/build/vs/Win8.1 Release
/build/vs/Win7 Debug
/build/vs/Win7 Release
/build/vs/Win8 Debug
/build/vs/chimera/Win8 Release
/build/vs/chimera/Win8.1 Debug
/build/vs/chimera/Win8.1 Release
/build/vs/chimera/chimera.vcxproj.user
/build/vs/chimera/Win7 Debug
/build/vs/chimera/Win7 Release
/build/vs/chimera/Win8 Debug
/build/vs/cerberus_helper/Debug
/build/vs/cerberus_helper/Release
/build/vs/cerberus_helper/cerberus_helper.vcxproj.user
/build/vs/.vs/hadesmem/v14/.suo
/build/vs/imgui/Debug
/build/vs/imgui/Release
/build/vs/hadesmem.VC.opendb
/build/vs/imgui/imgui.vcxproj.user
/build/vs/hadesmem.VC.VC.opendb
/build/vs/hadesmem.VC.db
/build/vs/chaiscript/Debug
/build/vs/chaiscript/Release
/build/vs/imgui_sandbox/Debug
/build/vs/imgui_sandbox/Release
imgui.ini
/build/vs/imgui_sandbox/*.user
