[submodule "deps/asmjit/asmjit"]
	path = deps/asmjit/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "deps/pugixml/pugixml"]
	path = deps/pugixml/pugixml
	url = https://github.com/zeux/pugixml
[submodule "deps/udis86/udis86"]
	path = deps/udis86/udis86
	url = https://github.com/vmt/udis86
[submodule "deps/imgui/imgui"]
	path = deps/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/chaiscript/chaiscript"]
	path = deps/chaiscript/chaiscript
	url = https://github.com/ChaiScript/ChaiScript.git
